footer.footer
	.container
		p.
			Made by #[a(href="https://github.com/abdulhannanli") Hannan Ali] using magical #[a(href="https://clarifai.com") #[img(src="https://i.imgur.com/2LE4qjh.png" width="60" height="23")]]. The code is open sourced under MIT License. Click #[a(href="https://github.com/abdulhannanali/clarifai-squirrelfeed") here] to visit it's github repo
		p(style="background-color:azure;").
			Clarifai Logo is a registered trademark of Clarifai, Inc. This site is for educational purposes and claims no responsibility of uploading of a copyright content. In case, of any problems contact the developer.